<turbo-stream action="replace" target="user_list">
  <template>
    <tbody id="user_list">
      <%= render partial: '/users/user', collection: @users, as: :user, formats: [:html] %>
    </tbody>
  </template>
</turbo-stream>
<turbo-stream action="replace" target="pagination_container">
  <template>
    <div id="pagination_container">
      <%= paginate @users %>
    </div>
  </template>
</turbo-stream>
<turbo-stream action="replace" target="search_button_container">
  <template>
    <div id="search_button_container">
      <%= button_to "Search", post_index_users_path(per_page: params[:per_page], keyword: params[:keyword]), { form_class: "hidden"} %>
    </div>
  </template>
</turbo-stream>